.btnLink{
    color: var(--textTitle);
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px 10px; 
    border-radius: 15px;
    transition: all 0.2s;
}
.btnLink:hover{
    opacity: 0.3;
}
.btnTextLogo{
    color: var(--logo);
    /* border-right: 1px solid #3498DB; */
    padding-right: 10px;
    cursor: pointer;
    text-decoration: none;
}