.btnLink{
    color: var(--textTitle);
    font-weight: bold;
    text-decoration: none;
    margin-right: 10px;
    padding: 5px 10px; 
    border-radius: 15px;
    transition: all 0.2s;
}
.btnLink:hover{
    opacity: 0.3;
}
.btnTextLogo{
    color: var(--textTitle);
    /* border-right: 1px solid #3498DB; */
    padding-right: 10px;
    cursor: pointer;
    text-decoration: none;
}
.burger{
    border: none;
    background: transparent;
    padding: 10px;
    font-size: 20px;
    color: #3498DB;
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    transition: all 0.8s ease;
    border: 1px solid transparent;
}
.burger:active{
    border: 1px solid #3498D8;
}
.header{
    width: 100%; height: 60px;
    background: var(--footerButtons);
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menuText{
    list-style-type: none;
    /* margin-top: 20px; */
    padding: 0 10px;
}
#menuTextButton{
    color: var(--textTitle);
    text-decoration: none;
    padding: 20px 10px;
    flex-direction: row;
    vertical-align: middle;
    /* display: flex; */
}
#menuTextButton li{
    display: flex;
    align-items: center;
}
#icon{
    margin-right: 5px;
}
#closeButton{
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.footer{
    display: flex;
    justify-content: center;
    margin-top: 130%;
}
.sideMenu{
    transition: all 0.2s ease-out;
}

#sideMenu{
    left: -100%;
}
#sideMenu.open{
    left: 0;
}