* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    scroll-behavior: auto;
}

html, body, #root{
    height: 100%;        
    background: #F4F6F8;
}