* {
    padding: 0;
    margin: 0;
    outline: none;
    box-sizing: border-box;

    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased !important;
    scroll-behavior: auto;

    transition: color 0.3s ease-out ;
}

html, body, #root{
    height: 100%;        
    background: var(--background);
}