.BtnSocialMedia:hover .Icon{
    transform: translateY(-3px);
    color: rgba(255, 255, 255, 0.8);
}
.BtnSocialMedia:hover{
    opacity: 0.7;
}
.BtnSocialMedia{
    transition: all 0.2s;
}
.Icon{
    transition: all 0.2s;
}